:root {
  --paragraphMarginBottom: 0;
  --color-dark: #040306;
  --color-light: #ffffff;
  --input-height: 55px;
  --border-radius: 10px;
  --section-padding-y: 20px;
  --body-with-container: 1200px;
  --container-width: 1900px;
  --font-family-base:"Evolventa", sans-serif;
  --container-padding-x:20px
}
